@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


header{
    box-shadow: rgba(0,0,0,0.35) 0px 0px 15px;
    position: sticky;
    align-items: center;
}
.left img{
    width: 70px;
}

.container{
    max-width: 100%;
    height: 70px;
    align-items: center;
    

}
#navbar li{
    list-style: none;

}
#navbar ul li a{
    list-style: none;
    padding: 0 12px;
    color: black;
    text-decoration: none;
    transition: 0.3 ease;
}
#navbar ul li a:hover{
    
    color: coral;
}


.section{
    width: 100%;
}
.section .container{
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px ;
}
.container .title{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.container .title h1{
    text-transform: uppercase;
    font-size: 35px;
    color: #88941e;
}
.container .title h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;
}
.content{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 90%;
    height: auto;
}
.content .article h3{
    color: #a3a3a3;
    font-size: 17px;

}
.content .article p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.content .article .button{
    margin-top: 50px;
    margin-bottom: 50px;
}
.content .article .button a{
    text-decoration: none;
    padding: 8px 25px;
    background-color: #88941e;
    border-radius: 40px;
    font-size: 18px;
    letter-spacing: 1.5px;
}
.content .article .button a:hover{
    color: #fff;
    background-color: #f28f92;
    transition: 1s ease;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #0f2f5e;
    height: 160px;
    margin-top: 12px;
    
    
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    
    color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
    text-decoration: none;
    color: #222;
}
footer a{
    font-size: 13px;
  
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
@media (max-width:799px){
    #navbar{
        display: flex;
        flex-direction: column;

        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0px;
        height: 100vh;
        width: 300px;
    }
}