*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
header{
    box-shadow: rgba(0,0,0,0.35) 0px 0px 15px;
    position: sticky;
}
.left img{
    width: 70px;
}

.container1{
    max-width: 100%;
    height: 70px;
    

}
#navbar li{
    list-style: none;

}
#navbar ul li a{
    list-style: none;
    padding: 0 12px;
    color: black;
    text-decoration: none;
    transition: 0.3 ease;
}
#navbar ul li a:hover{
    
    color: coral;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url("images/banner4.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    font-size: 35px;
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
    color: #88941e;
    align-items: center;
    padding-left: 90px;


}
form input, textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;

}
form button{
    padding: 15px;
    background: #88941e;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #0f2f5e;
    height: 160px;
    
    
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    
    color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
    text-decoration: none;
    color: #222;
}
footer a{
    font-size: 13px;
  
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
@media (max-width:799px){
    #navbar{
        display: flex;
        flex-direction: column;

        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0px;
        height: 100vh;
        width: 300px;
    }
}